services:
  devcontainer:
    command: sleep infinity
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: test